/****
**This file contains the CSS for the intro pages i.e the landing page (index.html), the login page, the sign up page and the about page**
****/

/*
 * -- THE INTRO PAGES LAYOUT --
 * This is the main layout with the background image and logo.
 */

.intro-container {
    background: url("../static/car1.jpg");
    background-size: cover;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.intro-container .intro {
    width: 80%;
    height: 100%;
    margin: auto;
    position: absolute;
    background: rgba(0,0,0,0.4);
    top: 0; left: 0; bottom: 0; right: 0;
    opacity: 1;
    text-align: center;
    text-transform: uppercase;
    font-size: x-large;
}

/* This is the main heading/logo that contains the words "Ride My Way" */
.intro-heading {
    font-family: Algerian, sans-serif;
    color: #d70040;
    padding: 1em 1.6em;
    font-weight: 200;
    border-radius: 5px;
    line-height: 1em;
    text-align: center;
}

/* This is for the info/promotion text */
.intro-info {
    color: rgba(255,255,255,1);
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/*This is for the login div used on the login and sign up pages*/
/*.intro-container .form {*/
    /*position: absolute;*/
    /*z-index: 1;*/
    /*background: rgba(0,0,0,0.4);*/
    /*width: 80%;*/
    /*height: 100%;*/
    /*margin: auto;*/
    /*padding: 45px;*/
    /*text-align: center;*/
    /*text-transform: uppercase;*/
    /*font-size: x-large;*/
    /*top: 0; left: 0; bottom: 0; right: 0;*/
/*}*/

/*.form .message {*/
    /*margin: 15px 0 0;*/
    /*color: white;*/
    /*font-size: 12px;*/
/*}*/
/*.form .message a {*/
    /*color: #d70040;*/
    /*text-decoration: none;*/
/*}*/



/*Make the buttons look pretty*/
button.btn {
    background: rgba(255,255,255,0.62);
    color: #d70040;
    border-radius: 10px;
    font-size: 80%;
    margin-left: 5px;
    margin-right: 5px;
}

.about-button {
    position: absolute;
    right: 0;
}


/*
* This is to try and make the page responsive on a variety of devices
*/

/*On tablets and other medium-sized device.*/
@media (min-width: 48em) {
    .intro {
        width: 50%;
        height: 50%;
    }

    .intro-heading {
        font-size: 250%;
    }
}

/*On desktops and larger devices*/
@media (min-width: 78em) {
    /* Increase the size of the words "Ride My Way" */
    .intro-heading {
        font-size: 300%;
    }
}

/*
* Decrease the font-size of the headings of the landing, login, sign-up pages on smaller devices
*/
@media (max-width: 480px) {
    .intro-container .intro {
        font-size: medium;
    }

    .intro-container .form {
        font-size: medium;
    }
}